
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*   Global   */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    padding: 15px;
    text-transform: uppercase;
    font-family: var(--font-dark);
    border-radius: 2px;
    border: none;
    outline: none;
}

/* --x--  Global --x--  */

/*   Variables   */
:root{
    --font-dark: 'Roboto', sans-serif;
    --font-light: 'Open Sans', sans-serif;
    --color-dark: rgb(27, 27, 27);
    --color-light: rgb(236, 236, 236);
    --orange-color: rgb(255, 115, 50);
    --black-hover: rgb(51, 51, 51);
    --color-light-dark: rgb(180, 180, 180);
}

/*  --x-- Variables  --x--  */



/*     Hamburger     */
.ham-line{
    width: 24px;
    height: 4px;
    background-color: var(--color-light);
    margin-bottom: 3px;
    display: none;
    transition: all 1s;
}

.line2{
    background-color: var(--orange-color);
}

/* --x--  Hamburger --x--  */


/*     Hamburger Animation    */
.ham-toggle .line1{
    transform: rotate(45deg) translate(7px, 6px);
    background-color: var(--orange-color);
    transition: all 1s;
}
.ham-toggle .line3{
    transform: rotate(-45deg) translate(4px, -4px);
    background-color: var(--orange-color);
    transition: all 1s;
}
.ham-toggle .line2{
    opacity: 0;
    transition: all 1s linear;
}
/* --x--  Hamburger Animation --x--  */


/* Navbar */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: var(--color-dark);
    transition: height 1s;
}

.nav-container h1 a{
    font-family: var(--font-dark);
    color: var(--color-light);
}

.nav-container h1 a:hover{
    color: var(--orange-color);
}

.nav-ul li{
    display: inline-block;
    padding: 27px 20px;
}

.nav-ul li:first-child a{
    color: var(--orange-color);
}

.nav-ul li a{
    font-family: var(--font-light);
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.nav-ul li:hover{
    background-color: var(--black-hover);
}

.social i{
    color: var(--color-light);
    margin: 6px;
    font-size: 18px;
}

.social i:hover{
    color: var(--orange-color)
}

/* --x-- Navbar --x-- */


/*        Main        */

/*    section-1       */
main .cover{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: calc(100vh - 70px);   /*calc(100vh - height of navbar)*/
    display: flex;    /* in order to use flexbox, giving height and width is important*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.cover p{
    color: var(--color-light-dark);
    font-family: var(--font-dark);
    font-size: 20px;
    padding-bottom: 15px;
}

.cover h1{
    color: var(--color-light);
    font-family: var(--font-dark);
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 35px;
}

.cover .btn1{
    background-color: transparent;
    color: var(--color-light);
    margin-right: 3px;
    border: 1px solid transparent;
}

.cover .btn1:hover{
    background-color: transparent;
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

.cover .btn2{
    background-color: transparent;
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
}

.cover .btn2:hover{
    background-color: transparent;
    color: var(--color-light);
    border: 1px solid var(--color-light);
}
/*  --x--  section-1   --x--   */

/*    section-2       */
main .cover-details{
    background-color: var(--color-dark);
    color: var(--color-light);
    width: 100%;
    height: auto;
    padding: 60px 0 30px 0;

    display: flex;
    justify-content: center;
}

.cover-details h2{
    font-family: var(--font-dark);
    font-size: 21px;
    margin-bottom: 12px;
}

.cover-details .p1{
    font-family: var(--font-light);
    font-size: 13px;
    margin-bottom: 12px;
}

.cover-details .p2{
    font-family: var(--font-light);
    font-size: 13px;
    margin-bottom: 12px;
    color: var(--color-light-dark);
}


.cover-details .box1{
    width: 320px;
    margin: 0 40px 0 10px;
}

.cover-details .box1 button{
    width: 100%;
    padding: 8px;
    background-color: var(--orange-color);
    color: var(--color-light);
    font-size: 12px;
}

.cover-details .box1 button:hover{
    background-color: var(--color-light);
    color: var(--orange-color);
}

.cover-details .box2{
    border-left: 1px solid var(--black-hover);
    margin: 0 10px 0 40px;
    padding-left: 30px;
}

.cover-details .box2 .p2{
    margin-top: -12px;
}

/*  --x--  section-2  --x--  */

/*         section-3         */
main .section-3{
    background-color: var(--color-light);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-3 .box1 h2{
    font-family: var(--font-dark);
    font-size: 29px;
}

.section-3 .box1 p{
    font-family: var(--font-light);
    font-size: 18px;
}

.section-3 .card h2{
    font-family: var(--font-dark);
    font-size: 25px;
}

.section-3 .card p{
    font-family: var(--font-light);
    font-size: 16px;
}

.section-3 .card i{
    font-size: 18px;
}

.section-3 img{
    width: 270px;
    height: 290px;
    object-fit: cover;
}

.section-3 .box1{
    width: 350px;
    align-self: center;
    margin: 0 40px 0 15px;
}

.section-3 .card{
    margin: 60px 30px 60px 0;
    background-color: white;
}


.section-3 .card .grid-box{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 80% 20%;
    padding: 5px;
}

.section-3 .card .grid-box i,p,h2{
    padding: 5px 5px 0 5px;
    text-align: start;
}

.section-3 .card .grid-box i:hover{
    color: var(--orange-color);
}
/*  --x--  section-3  --x--  */

/*  --x--  Main  --x--   */


/*     Screen <= 768px    */
@media only screen and (max-width: 768px){
    /* Navbar */
    .nav-container{
        display: block;
        position: relative;
        overflow: hidden;
    }

    .nav-container-toggle{
        height: 450px;
    }

    .nav-container h1{
        line-height: 20px;
        padding: 25px 0  25px 65px;
    }

    .ham-line{
        display: block;
    }

    .ham{
        position: absolute;
        line-height: 20px;
        top: 25px;
        right: 40px;
    }

    .nav-ul li{
        display: block;
    }

    .nav-ul{
        margin-left: 65px;
    }

    .social{
        display: none;
    }

    /* --x-- Navbar --x-- */

/*         Main          */

    /*     Section-3    */
    .section-3 img{
        width: 260px;
        height: 280px;
    }

    .section-3 .box1{
        width: 70%;
        margin: 30px 30px 0 0;
    }

    .section-3 .card{
        margin: 60px 15px;
        background-color: white;
    }
    /*  --x--   Section-3  --x--  */

/*    --x--     Main     --x--     */

/* --x-- Screen <= 768px --x-- */
}

/*     Screen <= 500px    */
@media only screen and (max-width: 500px){
    /* Global */
    .btn{
        padding: 12px;
        font-size: 12px;
    }
    /* --x-- Global --x-- */

    /* Navbar */
    .nav-container h1{
        font-size: 18px;
        padding-left: 18px;
    }

    .nav-ul li a{
        font-size: 12px;
    }

    .nav-ul{
        margin-left: 6px;
    }
    /* --x-- Navbar  --x-- */

    /*     Hamburger     */
    .ham-line{
        width: 22px;
        height: 3px;
    }
    /*  --x--   Hamburger   --x--  */

    /*     Hamburger Animation    */
    .ham-toggle .line1{
        transform: rotate(45deg) translate(7px, 6px);
    }
    .ham-toggle .line3{
        transform: rotate(-45deg) translate(2px, -2px);
    }
    /* --x--  Hamburger Animation --x--  */

/*      Main       */
    /*    Section-1    */
    .cover p{
        font-size: 14px;
    }

    .cover h1{
        font-size: 27px;
    }
    /*  --x--  Section-1  --x--  */

    /*    Section-2    */
    main .cover-details{
        flex-direction: column;
        align-items: center;
    }

    .cover-details .box1{
        width:80%;
        margin: 0 0 30px 0;
    }

    .cover-details .box2{
        border-top: 1px solid var(--black-hover);
        border-left: none;
        margin: 0;
        padding: 20px 0 0 0;
        width: 80%;
    }
    /*  --x--  Section-2  --x--  */

    /*      Section-3       */
    .section-3 img{
        width: 230px;
        height: 250px;
    }

    .section-3 .card{
        margin: 20px 5px;
        background-color: white;
    }

    .section-3 .box1{
        width: 70%;
        margin: 20px 20px ;
    }

    .section-3 .box1 h2{
        font-size: 26px;
    }
    
    .section-3 .box1 p{
        font-size: 16px;
    }
    
    .section-3 .card h2{
        font-size: 22px;
    }
    
    .section-3 .card p{
        font-size: 14px;
    }
    
    .section-3 .card i{
        font-size: 16px;
    }
    /*   --x--   Section-3   --x--    */
    
/*   --x--   Main   --x--    */
}

/*  --x--   Screen <= 500px  --x--  */